.navbar__container {
  background-color: rgb(119, 0, 255);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
  padding: 0 10px;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    max-width: 1280px;
    margin: auto;
    width: 100%;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
    .navbar__logo {
      font-weight: 600;
      font-size: 22px;
    }
    .navbar__menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      .navbar__item {
        font-weight: 600;
        margin-right: 25px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
