.signup {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .signup__form {
    .signup__title {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(119, 0, 255, 0.8);
      padding-bottom: 10px;
      width: 50%;
      text-align: center;
    }
    max-width: 500px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgb(119, 0, 255);
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    padding: 20px;
    .signup__block {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      label {
        font-size: 13px;
        font-weight: 600;
      }
      input {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        &:focus-visible {
          outline-color: rgb(119, 0, 255);
        }
      }
    }
    .signup__name {
      display: flex;
      width: 100%;
      .signup__block {
        padding: 10px 0;
        &:first-child {
          padding-right: 10px;
        }
      }
    }
    .signup__button {
      padding: 8px 24px;
      border-radius: 5px;
      border: none;
      background-color: rgb(119, 0, 255);
      color: white;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);
      margin-top: 15px;
      font-size: 18px;
      &:hover {
        background-color: rgb(104, 0, 223);
      }
    }
    .error {
      color: red;
      font-weight: 600;
      margin-top: 10px;
    }
  }
}
